.container
  .row
    .col-lg-8
      / the actual blog post: title/author/date/content
      %h1=@charity.title
      %hr/
      %p
        %span.glyphicon.glyphicon-time
        Started on August 24, 2013 at 9:00 PM
      %hr/
      %img.img-responsive{src: @charity.avatar.url, width:900, height:300}/
      %hr/
      %p.lead
        = @charity.title
      %p
        = @charity.description
      %p
      %hr/
      .well
        %h4 Оставете коментар:
        = render 'fb_comment'
      %hr/
    .col-lg-4
      .well
        %h4 Категории
        %ul.list-unstyled
          - @categories.each do |category|
            %li
              %a{href: "category/#{category.id}"}= category.name
      / /well
      .well
        %h4 Дарения
        - @charity.charity_account_transactions.each do |transaction|
          %p=transaction.done_by
          %p=transaction.amount
  %hr/
  %footer
    .row
      .col-lg-12
        %p Copyright © Tardis 2014
